apiVersion: v1
data:
  labels.yaml: |
{{ lookup('file', '{{ role_path }}/files/openshift_manifests/labels.yaml') | indent(width=4, indentfirst=True) }}
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: label-config

