#jinja2: lstrip_blocks: "False", trim_blocks: "False"
apiVersion: v1
data:
  plugins.yaml: |
{{ lookup('file', '{{ role_path }}/files/openshift_manifests/plugins.yaml') | indent(width=4, indentfirst=True) }}
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: plugins
